



<form action="/Products/Save" method="post">

Enter Product Name <br />
<input type="text" name="ProductName" /> <br />
Enter Price <br />
<input type="text" name="Price"/> <br />
Is Available : 
<input type="checkbox" name="IsAvailable" value="true" /> <br />
Enter Category <br />
<input type="text" name="Category" /> <br />

<input class="btn btn-primary mt-3" type="submit" name="btnSubmit" value="Submit" />

<a class="btn btn-outline-primary mt-3" href="/Products/Index">Cancel</a>

</form>